*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background-color: lightgrey;
}

hr{
    margin-top: 12px;
    border-color: lightgrey
}
/* ------------------------- */

header{
    background-color: white;
    padding-bottom: 10px;
}

header img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 30px;
    vertical-align: middle;
    
}

header h1{
    display: inline-block;
    font-size: 60px;
    vertical-align: middle;
    margin-top: 15px;
}

.centro{
    border: 1px solid red;
    width: 1300px;
    height: 700px;
    margin: auto;
    margin-top: 60px;
    background-color: white;
}

.button{
    margin-top: 20px;
    margin-left: 40px;
}

.button button{
    height: 40px;
    width: 100px;
    border-radius: 5px;
}

.blue{
    background-color: #1e90ff;
    border: none;
    color: white;
}

.white{
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
}
